body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
.title{
    color: rgb(12, 128, 82);
    font-size: large !important;
    font-weight: bold;
}
.card {
    background-color: #3f51b5;
    color: white;
}
.switch label .lever {
    background-color: white;
}
.switch label input:checked + .lever {
    background-color: #4caf50;
}
/* Using by edit and delete buttons  */
.btn-flat {
    color: white;
}
